<img src="https://funnyanimepics.files.wordpress.com/2016/11/keijo-ep7-turnips.jpg?w=809"></img>

<p>Welcome to the website for the Turnip Education Standards Authority!</p>

<p>You're probably looking for digitised PDF textbooks. <a href="https://gitlab.com/turnip-esa/textbooks">You can find them here</a>.</p>

<ul>
    <li>Not all textbooks here are processed by Turnip Boy, some have been donated to Turnip Boy from others, or found on the internet</li>
    <li>Turnip Boy asks that you support the textbook companies by purchasing their textbooks - these PDF copies are provided here for convenience for textbook companies who use proprietary reader applications</li>
    <li>Complaints under the Copyright Act 1968 (Cwth.) can be forwarded to Turnip Boy by opening an issue on <a href="https://gitlab.com/turnip-esa/textbooks/-/issues">GitLab</a></li>
    <li>Turnip Boy loves you!</li>
</ul>
